.icon-button-container{
   height: 24px;
}

.icon-button{
    background: transparent;
    border: none;
    width: 24px;
    height: 24px;
    cursor:pointer;
}


.icon-button:active{
    opacity: 0.5;
}

.icon-button:focus {
    outline: none;
}
