.clip-list-row {
    position: relative;
    display: flex;
    height: 50px;
    margin: auto;
    width: 50%;
}

.left-content {
    position: relative;
}

.right-content {
    padding-left: 5px;
    width: 50px;
    display: table;
    margin: auto;
}

.left-content input{
    height: 30px;
    width: 550px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center-right{
    display: table-cell;
}