<div class="cliplist">
  <div class="search-container">
      <mat-form-field class="sinput">
          <input [(ngModel)]="model.filter" (keyup)="model.onFilterChange()" matInput type="search" placeholder="Enter to filter">
      </mat-form-field>
    <button (click)="openAddDialoag()"  mat-flat-button color="primary">Add New</button>
  </div>
  <ng-template ngFor let-item [ngForOf]="clips">
    <app-clip-list-row [clip]="item" (deleteClick)="onDelete($event)"></app-clip-list-row>
  </ng-template>
</div>